//Reset
*{
    padding: 0;
    margin: 0;
    font-family: $mainFont;
    box-sizing: border-box;
}

//Presets
body{
    position: relative;
    min-height: 100dvh;
    background-color: map-get($map: $colorPalette, $key: 'main');
}
img{
    max-width: 100%;
}
main{
    margin-top: 5%;
    margin-bottom: 5%;
}
ul{
    list-style: none;
}

//Clase Active
.active{
    border-bottom: 2px solid map-get($map: $colorPalette, $key: 'black');
}




