//Primary Buttons
.mi-button{
    border: 2px solid map-get($map: $colorPalette, $key: 'black');
    border-radius: 8px;
    padding: 6px 8px;
    background-color: map-get($map: $colorPalette, $key: 'black');
    text-decoration: none;
    font-size: 1.1em;
    color: map-get($map: $colorPalette, $key: 'third');
    &:hover{
        background-color: map-get($map: $colorPalette, $key: 'white');
        color: map-get($map: $colorPalette, $key: 'fourth');
    }
}
//WhatsApp Button
.wsp{
    position: fixed;
    right: 3%;
    bottom: 4%;
}