//Nosotros page
.nosotros{
    @include flex(column, nowrap, normal, normal);
    padding: 5px;
    margin: 5px;
    p{
        text-align: center;
        margin: 10px;
        width: 80%;
        margin: auto;
    }
}
.services{
    @include flex(row, nowrap, center, center);
}
.services img, .information{
    width: 30%;
    padding: 5px;
    margin: 10px;
    
}    
.gaming, .office, .maps{
    width: 50%;
}
.maps{
    padding: 5px;
    margin: 10px;
}
.information{
    @include flex(column, nowrap, end, center);
}