//Nosotros page
.nosotros{
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
    p{
        text-align: center;
        margin: 10px;
        width: 80%;
        margin: auto;
    }
}
.gaming{
    display: flex;
    align-items: center;
    justify-content: center;
}    
.img-gaming{
    width: 30%;
    padding: 5px;
    margin: 10px;
}
.text-gaming{
    width: 50%;
}
.office{
    display: flex;
    align-items: center;
    justify-content: center;
}    
.img-office{
    width: 30%;
    padding: 5px;
    margin: 10px;
}
.text-office{
    width: 50%;
}
.maps{
    width: 50%;
    padding: 5px;
    margin: 10px;
}
.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 30%;
    ul{
        list-style: none;
    }
}