//Responsive
//*1325 Brekpoint
@media (1325px >= width){
    .services{
        @include flex(column, wrap, center, center);
    }
    .services img{
        width: 70vw;
    }
    .gaming,.office{
        width: 60vw;
    }
    .information{
        display: none;
    }
    .maps{
        width: 100%;
        @include flex(column, nowrap, center, normal)
    }
    :is(.maintenance, .repair, .optimization) article{
        flex-direction: column;
    }
    .img-services{
        width: 70vw;
    }
}
//*1122 Breakpoint 
@media (1122px >= width){
    .banner{
        width: 85%;
    }
    .main-services{
        @include flex(column, nowrap, center, normal);
        figure{
            width: 60%;
        }
    }
    .maps iframe{
        width: 80%;
    }
    .services img{
        width: 80vw;
    }
    .gaming, .office{
        width: 75vw;
    }
    .img-services{
        width: 80vw;
    }
}
//*720 Breakpoint
@media (720px >= width){
    .wsp{
        bottom: 5%;
    }
    .maps iframe{
        height: 300px;
    }
    .container-services{
        margin-top: 15%;
    }
}
//*590 Breakpoint
@media (590px >= width){
    .banner{
        width: 90%;
    }
    .main-services figure{
        width: 80%;
    }
    .ul-services{
        margin-left: 0.8em;
    }
    .maintenance{
        margin-top: 15%;
    }
}