//Styles of Tipograhy
//Generals Headlines 
h1,h2,h3,h4,h5,h6{
    text-wrap: balance;
    color: map-get($map: $colorPalette, $key: 'black');
    text-shadow: 1px 2px 9px map-get($map: $colorPalette, $key: 'second');
    @include text($font-m,$lh-m);
    margin-top: 20px;

    &:first-child{
        margin-top: 0;
    }
    &:last-child{
        margin-bottom: 0;
    }
}
//Specific Headlines
h1{
    text-align: center;
    @include text($font-4xl,$lh-m);
    color: map-get($map: $colorPalette, $key: 'black');
    text-shadow: 1px 2px 9px map-get($map: $colorPalette, $key: 'second');
}
h2{
    @include text($font-xxl,$lh-m);
}
h3{
    @include text($font-xl,$lh-l);
}
h4{
    @include text($font-l,$lh-s);
}
h5{
    @include text($font-m,$lh-xs);
}
h6{
    @include text($font-s,$lh-xs);
}
//Paragraphs
p{
    text-wrap: pretty;
    @include text($font-m,$lh-l);
}