//Backgrounds
.bg{
    background-color: map-get($map: $colorPalette, $key: 'main');
}
.bg-alternative{
    background-color: map-get($map: $colorPalette, $key: 'second');
}
.bg-lightblue{
    background-color: map-get($map: $colorPalette, $key: 'third');
}

//Containers
.container{
    @include flex(row, nowrap, normal, center);
    padding: 30px;
    margin-bottom: 2em;
}
.container-register{
    @extend .container;
    flex-direction: column;
    margin: auto;
    padding: 4%;
    width: 90%;
}
.container-services{
    @extend .container-register;
    width: 80vw;
    justify-content: normal;
    margin: auto;
    img{
        padding: 3%;
    }
}
.container404{
    @extend .container-services;
    align-items: center;
    h1{
        margin-bottom: 20px;
        color: map-get($map: $colorPalette, $key: 'white');
        text-shadow: 1px 2px 4px map-get($map: $colorPalette, $key: 'black');
    }
    img{
        width: 400px;
        padding: 20px;
        border-radius: 8%;
    }
    p{
        @include text($font-m,$lh-xxl);
    }
}
//Imagen logo
.img-logo{
    width: 45%;
}

