//Vars
$mainFont:'Roboto', sans-serif;

//Fonts size
$font-xs: 0.75rem;
$font-s: 0.9rem;
$font-m: 1rem;
$font-l: 1.25rem;
$font-xl: 1.5rem;
$font-xxl: 2rem;
$font-3xl: 3rem;
$font-4xl: 3.5rem;
$font-5xl: 4rem;

//Fonts weight
$fw-xs: 200;
$fw-s: 300;
$fw-m: 400;
$fw-l: 500;
$fw-xl: 700;
$fw-xxl: 800;

//Line height
$lh-xs: 0.5;
$lh-s: 0.75;
$lh-m: 1;
$lh-l: 1.5;
$lh-xl: 1.75;
$lh-xxl: 2;

//Colors
$colorPalette:(
    'main': #CACACA,
    'second': #878787,
    'third': #00BBC9,
    'fourth': #00747C,
    'black': #202022,
    'white': #e9e9e9f8,
);

//Breakpoints
$s: 590px;
$m: 720px;
$l: 1122px;
$xl: 1325px;
